{% extends 'management/base.html' %}
{% load static %}

{% block content %}

<hr>
<main class="page-content">


  <div class="container">
    <h1>Article Page</h1>
    
    <!-- Example Twitter embed -->
    <div class="article-embed">
        <iframe src="https://twitter.com/hmru_cph/status/1375318671032262659" width="100%" height="500" frameborder="0"></iframe>
    </div>
    <!-- Example website embed -->
    <div class="article-embed">
        <iframe src="" width="100%" height="500" frameborder="0"></iframe>
    </div>
</div>

</main>
{% endblock %}
